<!DOCTYPE html>
<html class="wf-loading">
  <head>
    <title>SHS</title>
    <%= stylesheet_link_tag "screen", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="container" data-pjax-container>
      <%= render 'layouts/menu' %>
      <%= render 'layouts/content' %>
    </div>
    <%# render 'layouts/footer' %>
  </body>
</html>
